<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="nxtech_ticketmanager" id="nxtech_ticketmanager">
			<module before="Magento_Backend" name="Nxtech_TicketManager"/>
		</route>
	</router>
</config>
