<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		 <add id="Nxtech::top_level" title="Nxtech" module="Nxtech_RequestForQuote" sortOrder="9999" resource="Magento_Backend::content"/> 
		<add id="Nxtech_RequestForQuote::nxtech_requestforquote" title="Request For Quote" module="Nxtech_RequestForQuote" sortOrder="9999" resource="Magento_Backend::content" parent="Nxtech::top_level" action="nxtech_requestforquote/rfq/index"/>
	</menu>
</config>
