<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nxtech\Contact\Api\ContactManagementInterface" type="Nxtech\Contact\Model\ContactManagement" />
    <preference for="Nxtech\Contact\Api\Data\ContactInterface" type="Nxtech\Contact\Model\Contact"/>
</config>
