<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="product_dynamic_row_attribute" instance="Nxtech\CustomTab\Observer\SaveDynamicRowValues" />
    </event>
     <event name="layout_generate_blocks_after">
        <observer name="nxtech_dyanmic_tabs_add" instance="Nxtech\CustomTab\Observer\DynamicTabs" />
    </event>
</config>